<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wst.mp_quiz.dao.AnswerRecordMapper">

    <select id="byWxIdAndQid" resultType="com.wst.mp_quiz.entity.AnswerRecord">
        select *
        from answer_record
        where
        wx_id = #{wx_id}
        and
        group_id = #{qId}
        limit 1
    </select>

    <select id="listByWxIdAndQid" resultType="com.wst.mp_quiz.entity.AnswerRecord">
        select *
        from answer_record
        where
        wx_id = #{wx_id}
        and
        group_id = #{qId}
    </select>

</mapper>