<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wst.mp_quiz.dao.QuestionListMapper">

    <select id="getListChoose" resultType="com.wst.mp_quiz.entity.QuestionList">
        select *
        from question_list
        where group_id = #{group_id} and question_type=1
    </select>

    <select id="getListSpeak" resultType="com.wst.mp_quiz.entity.QuestionList">
        select *
        from question_list
        where group_id = #{group_id} and question_type=1
    </select>

    <select id="getList" resultType="com.wst.mp_quiz.entity.QuestionList">
        select *
        from question_list
        where group_id = #{group_id} and question_type=1
    </select>

</mapper>