<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wst.mp_quiz.dao.UsersMapper">

    <select id="findByWxId" resultType="com.wst.mp_quiz.entity.Users">
        select *
        from users
        where
        wx_id = #{wx_id}
        LIMIT 1
    </select>

    <insert id="insert">
        insert into
        users
		(wx_id,student_id,name,class_name)
        values
		(#{openId},#{studentId},#{name},#{className})
    </insert>

    <update id="update">
        update users
        set
		student_id=#{studentId},name=#{name},class_name=#{className}
        where
        id = #{number}
    </update>
</mapper>